=content_tag "div", '', id: "grid", data: {coordinates: @cells}
=content_tag "div", '', id: "background-color", data: {color: get_background_color}
=content_tag "div", '', id: "grid-color", data: {color: get_grid_color}
=content_tag "div", '', id: "on-color", data: {color: get_on_color}
=content_tag "div", '', id: "off-color", data: {color: get_off_color}
.container
  .h2
    =t "grids.edit"
  -if flash[:error]
    .alert.alert-danger
      %button{type: "button", class: "close", data: {dismiss: "alert"}, aria: {hidden: "true"}}
        &times;
      =flash[:error]
  .row
    .col-md-4
      =form_for @grid do |f|
        =f.text_field :id, style: "display: none", id: "grid_id"
        =f.label t "grids.name"
        =f.text_field :name, autofocus: true, class: 'form-control'

        =f.label t "grids.description"
        =f.text_area :description, class: 'form-control'
        %br
        %a{class: 'btn btn-default pull-right', id: 'save', style: "display: none"}
          =t "grids.save"
        &nbsp;
        %a{class: 'btn btn-default pull-right', id: 'pull-down'}
          =t "grids.add_points"
      %br
    %hr
    %br
  :javascript
    var grid;
    var background_color = $("#background-color").data("color")
    var grid_color = $("#grid-color").data("color")
    var on_color = $("#on-color").data("color")
    var off_color = $("#off-color").data("color")
    $("canvas").live('click', function (event) {
          var canvas = document.getElementsByTagName('canvas')[0];
          var x = event.pageX - canvas.offsetLeft;
          var y = event.pageY - canvas.offsetTop;

          var row = Math.floor(y/grid.cellSize);
          var col = Math.floor(x/grid.cellSize);
          grid.setCell(row, col);
          grid.drawGrid();
      });
    $('#pull-down').click(function(event) {
        var json = $("#grid").data('coordinates');
        grid = new Grid(document.body.clientWidth, document.body.clientHeight*1.1, 12, background_color, grid_color, on_color, off_color);
        grid.setGrid(json);
        event.preventDefault();
        var n = $(document).height();
        $('html, body').animate({ scrollTop: n }, 500);
        $("#save").show();

    });
    $('#save').click(function(event) {
            event.preventDefault();
            var url = "#{grid_path}";
            var arr = grid.getAliveCells()
            var value_name = $('#grid_name').val()
            var value_desc = $('#grid_description').val()
            var value_id = $('#grid_id').val()
            $.ajax({
                type: "patch",
                url: url,
                data: {grid: arr, desc: value_desc, name: value_name}
            });
        });
