.container
  %button{class: "btn btn-default", id: "show_rules"}
    =t "admin.rules"
  %button{class: "btn btn-default", id: "show_grids"}
    =t "admin.grids"
  %div{id: "content"}
:javascript

  $("#show_rules").click(function () {
    $("#content").load("#{search_show_rule_results_path}");
  });
  $("#show_grids").click(function () {
    $("#content").load("#{search_show_grid_results_path}");
  });
  $(document).ready(function () {
    $("#show_rules").trigger('click');
  });

