%h2
  =t "admin.rules"
.list-group
  -@rules.each do |rule|
    .list-group-item
      %h4{class: "list-group-item-heading"}
        =rule[:name]
      %p{class: "list-group-item-text"}
        =rule[:description]
        %span{class: "pull-right"}
          =link_to "#{t "rules.destroy"}", admin_destroy_rule_path(rule[:id]), method: :delete, class: "btn-sm btn-danger"
=will_paginate @rules
:javascript
  $(".pagination a").click(function () {
    event.preventDefault();
    var url = event.toElement.href;
    $("#content").load(url);
  });