.container
  %button{class: "btn btn-default", id: "show_rules"} Rules
  %button{class: "btn btn-default", id: "show_grids"} Grids
  %div{id: "content"}

:javascript

  $("#show_rules").click(function () {
    $("#content").load("#{admin_show_all_rules_path}");
  });
  $("#show_grids").click(function () {
    $("#content").load("#{admin_show_all_grids_path}");
  });
  $(document).ready(function () {
    $("#show_rules").trigger('click');
  });
