.container
  %button{class: "btn btn-default", id: "user_rules"} User rules
  %button{class: "btn btn-default", id: "shared_rules"} Shared rules
  %div{id: "content"}

:javascript

  $("#user_rules").click(function () {
    $("#content").load("#{rules_user_rules_path}");
  });
  $("#shared_rules").click(function () {
    $("#content").load("#{rules_shared_rules_path}");
  });
  $(document).ready(function () {
    $("#user_rules").trigger('click');
  });

