.container
  %h2 Your rules
  -if !configurations_list.empty?
    .list-group
      -configurations_list.each do |rule|
        .list-group-item
          %h4{class: "list-group-item-heading"}
            =rule[:name]
          %p{class: "list-group-item-text"}
            =rule[:description]
            %span{class: "pull-right"}
              =link_to "Edit rule", edit_rule_path(rule[:id]), class: "btn-sm btn-info"
              &nbsp;
              =link_to "Show grids", rule_grids_path(rule[:id]), class: "btn-sm btn-primary"

  -else
    .alert.alert-info
      You haven't added any rule. Maybe it's time to
      =link_to "create", rules_new_path
      one?
  %br
  =link_to options = {action: :new, controller: :rules}, html_options = {class: "btn btn-default"} do
    Add