%html
  %head
    %title Generation Cellular

    -if user_signed_in?
      =stylesheet_link_tag    current_user.color_scheme.get_url, media: 'all', 'data-turbolinks-track' => true
    -else
      =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    =javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{src: "//code.jquery.com/jquery-migrate-1.2.1.min.js"}

    =csrf_meta_tags
  %body
    %nav{class: "navbar navbar-default", role: "navigation"}
      .container-fluid
        .navbar-header
          %button{class: "navbar-toggle", type: "button", data: {toggle: "collapse", target: "#bs-navbar-collapse"}}
            %span{class: "sr-only"}Toggle navigation
            %span{class: "icon-bar"}
            %span{class: "icon-bar"}
            %span{class: "icon-bar"}
          %a{ class: "navbar-brand", href: '/'}Generation Cellular

        %nav{class: "collapse navbar-collapse", id: "bs-navbar-collapse"}
          =form_tag options = {action: :results, controller: :search}, html_options = {class: 'navbar-form navbar-left'} do
            .form-group
              =text_field_tag 'query', nil, class: "form-control", placeholder: 'Search'
            %button{type: 'submit', class: 'btn btn-default'}Search
          %ul{ class: "nav navbar-nav navbar-right"}
            -if user_signed_in?
              %li
                =link_to edit_user_registration_path do
                  =current_user.email
              %li
                =link_to options = {action: "index", controller: "public"}, html_options = {id: "chat_link"} do
                  Chat
              %li
                =link_to destroy_user_session_path, method: :delete do
                  Sign out
            -else
              %li
                =link_to new_user_session_path do
                  Sign in
              %li
                =link_to new_user_registration_path do
                  Sign up
            -if user_signed_in?
              %li{ class: "dropdown"}
                =link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do
                  Themes
                  %b{class: "caret"}
                %ul{class: "dropdown-menu"}
                  -scheme_list.each do |scheme|
                    %li
                      =link_to scheme.scheme, scheme_change_path(id: scheme.id), method: :post
    =yield

